<div class="container">

	<h1>Table using JSON Mock SERVER API</h1>
	<table id="employees">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Expertisefield</th>
				<th>CountryofBirth</th>
				<th>DOJ</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees">
				<td>{{employee.id}}</td>
				<td>
					{{employee.Name}}</td>
				<td>
					{{employee.Expertisefield}}</td>
				<td>
					{{employee.CountryofBirth}}</td>
				<td>
					{{employee.DOJ}}</td>
        <td><button type="button">Update</button></td>
			</tr>
	
		</tbody>
	</table>
</div>